{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**

 *
 * @author    Michael Butler
 * @copyright Copyright (c) 2018 Michael Butler

 * @package   Michael Butler
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# {% do view.registerAssetBundle("lucajegard\\reziapi\\assetbundles\\reziapi\\ReziApiAsset") %}
{% do view.registerAssetBundle("lucajegard\\reziapi\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %} #}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "" %}

{# The title of this CP section #}
{% set title = "Smooth Transfer" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('smooth-transfer') %}

{# The content of the CP Section#}
{% set content %}
    <form action="{{ siteUrl }}actions/smooth-transfer/default/passjson">
    
    <button type="submit" class="btn submit">Submit form and collect JSON</button>
    <h2>Fields</h2>
    <div class="pane">
        {% set smoothTransferFields = craft.smoothTransfer.returnAllFields() %}
        <h2>See below all fields (Sorry, not ready to allow matrix fields to be selected)</h2>
        {% if smoothTransferFields | length == 0 %}
            <p class="text-center">No fields collected</p>
        {% endif %}
        
        <table class="data fullwidth">
            {# Change action #}
            
             {{ getCsrfInput() }}
            <thead>
                <th>Select</th>
                <th>Name</th>
                <th>Hadle</th>
                <th>Field Type</th>
                <th>Context</th>
                <th>UID</th>
                <th>ID</th>
                <th>Instructions</th>
            </thead>
            <tbody>
                {% for fields in smoothTransferFields %}
                <tr>
                    <td>
                       <input type="checkbox" name="select[]" value="{{fields.uid}}">    
                       <input type="hidden" name="type[]" value="field">
                       <input type="hidden" name="fieldName[]" value="{{fields.name}}">    
                       <input type="hidden" name="fieldType[]" value="{{fields.fieldType}}">    
                       <input type="hidden" name="fieldContext[]" value="{{fields.context}}">
                       <input type="hidden" name="fieldUid[]" value="{{fields.uid}}">
                       <input type="hidden" name="fieldId[]" value="{{fields.id}}">
                       <input type="hidden" name="fieldInstructions[]" value="{{fields.instructions}}">
                       
                    </td>
                    {# <td class="text-left">{{fields.name}}</td> #}
                    <td class="text-left">{{fields.handle}}</td>
                    <td class="text-left">{{fields.fieldType}}</td>
                    <td class="text-left">{{fields.context}}</td>
                    <td class="text-left">{{fields.uid}}</td>
                    <td class="text-left">{{fields.id}}</td>
                    <td class="text-left">{{fields.instructions}}</td>
                </tr>
                {% endfor %}
            </tbody>
            {# <button type="submit" class="btn submit">Select</button>
            </form>   #}
        </table>
       
        
    </div>
    <h2>Sections</h2>
    <div class="pane">
        {% set smoothTransferSections = craft.smoothTransfer.returnAllSections() %}
        <h2>See below all sections</h2>
        {% if smoothTransferSections | length == 0 %}
            <p class="text-center">No sections collected</p>
        {% endif %}
        <table class="data fullwidth">
            <thead>
                <th>Hadle</th>
                <th>Name</th>
                <th>Type</th>
                <th>UID</type>
                <th>ID</th>
                <th>Fields</th>
            </thead>
            <tbody>
                {% set currentIncrementer = 1 %}
                {% for sections in smoothTransferSections %}
                <tr>
                     <td>
                       <input type="checkbox" name="select[]" value="{{sections.uid}}">    
                       <input type="hidden" name="type[]" value="section">
                       <input type="hidden" name="sectionsName[]" value="{{sections.name}}">    
                       <input type="hidden" name="sectionsHandle[]" value="{{sections.handle}}">    
                       <input type="hidden" name="sectionsType[]" value="{{sections.type}}">
                       <input type="hidden" name="sectionsUid[]" value="{{sections.uid}}">
                       <input type="hidden" name="sectionsId[]" value="{{sections.id}}">                                              
                    </td>
                    <td class="text-left">{{sections.handle}}</td>
                    <td class="text-left">{{sections.name}}</td>
                    <td class="text-left">{{sections.type}}</td>
                    <td class="text-left">{{sections.uid}}</td>
                    <td class="text-left">{{sections.id}}</td>
                   
                    <td class="text-right toggler" data-prod-cat="{{currentIncrementer}}">Show Fields +</td>
                    
                </tr>
                
                
               
                {% set currentSectionsFields = craft.smoothTransfer.returnSectionsFieldsByHandleVar(sections.handle) %}
                <tbody class="cat{{currentIncrementer}}" style="display: none">
                    {% if currentSectionsFields | length < 1 %}
                    <tr>
                        <td class="bold">No fields have been found</td>
                    </tr>
                    {% else %}
                
                    {# <tr>                                       
                        <td class="bold">Fields on the above entry</td>                    
                    </tr> #}
                    <tr>

                        <td  class="bold">ID</td>
                        <td  class="bold">Name</td>
                        <td  class="bold">Handle</td>
                        <td  class="bold">Field Type</td>
                    </tr> 
                    {% for field in currentSectionsFields%}
                    <tr>
                        {# {% for users, key in field %}
                        <td>{{dump(users)}}</td>
                        {% endfor %} #}
                        {# <td>{{dump(field)}}</td> #}
                        
                        <td>{{field.id}}</td>
                        <td>{{field.name}}</td>
                        <td>{{field.handle}}</td>
                        
                        <td>{{craft.smoothTransfer.returnFieldTypeByIdVar(field.id)}}</td>
                        {# <td>{{field.}}</td> #}
                          
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
                
           
               
                
                
                
                {% set currentIncrementer = currentIncrementer + 1 %}
                {% endfor %}
            </tbody>
        </table>        
    </div>
    
    </form>
    

    <style>
        .mid-pad {
            padding: 20px;
        }
        .text-center {
            text-align: center;
        }
        .bold{
            font-weight: 900;
        }
        #content {
            background-color: #F2F7FA !important;
        }
        .flex1 {
            flex: 1;
        }
        .flex {
            display: flex;
        }
    </style>

{# $('.update-link').click(function(){
    var form = $(this).parent().next().find('form');
    var serial = $('input[name!=CRAFT_CSRF_TOKEN]', form).serialize();
    var params = serial;
    var link = form.attr('action');
    var fullLink = link + '?' + params;

    copyStringToClipboard(fullLink);
    $(this).parent().html('Copied to clipboard');
    console.log( fullLink );
});
function copyStringToClipboard (str) {
   // Create new element
   var el = document.createElement('textarea');
   // Set value (string to be copied)
   el.value = str;
   // Set non-editable to avoid focus and move outside of view
   el.setAttribute('readonly', '');
   el.style = {position: 'absolute', left: '-9999px'};
   document.body.appendChild(el);
   // Select text inside element
   el.select();
   // Copy text to clipboard
   document.execCommand('copy');
   // Remove temporary element
   document.body.removeChild(el);
}#}

{% set myJs %}
    $(".toggler").click(function(e){
        e.preventDefault();
        if ($(this).text() == 'Show Fields +') {
            $(this).text('Hide Fields -');
        } else {
            $(this).text('Show Fields +');
        }
        
        $('.cat'+$(this).attr('data-prod-cat')).toggle('slow');
    });
{% endset %} 

{% includeJs myJs %}

{% endset %}
