{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * smooth transfer plugin for Craft CMS 3.x
 *
 * smooth transfer Settings.twig
 *
 * @author    Michael Butler
 * @copyright Copyright (c) 2019 Michael Butler
 * @link      https://github.com/michaelbutler1998
 * @package   Michael Butler
 * @since     1.0.0
 */
#}
{# This is part of the plugin -- allows you to create forms #}
{% import "_includes/forms" as forms %}

{{forms.lightswitchField({
    label: 'Pointless lightswitch',
    instructions: 'Just a blank lightswitch that does nothing'|t,
    id: 'showCountOnEntryIndex',
    on: settings['showCountOnEntryIndex'],
    })
}}


